<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dka.project.akper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bhayangkara"
        tools:targetApi="n">
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="dka.project.akper.splashScreen"
            android:theme="@style/Theme.Bhayangkara">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dka.project.akper.BerandaActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.AboutUsActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.AkunActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.ChatKontakActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.ELearningActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.PengumumanActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.PMBOnlineActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.PencarianActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.CCTVActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.JadwalActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.TranskipActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.PerpustakaanActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.OrganisasiActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.LokasiActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.KrsActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.KhsActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.KemahasiswaanActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.LaboratoriumActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.ElektronikActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.FasilitasActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.layanan.KurikulumActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.LoginActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.RegistrasiActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.PasswordActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.chat.RoomChatActivity"
            android:theme="@style/Theme.Bhayangkara" />
        <activity
            android:name="dka.project.akper.AlbumKegiatanActivity"
            android:theme="@style/Theme.Bhayangkara" />

    </application>

</manifest>